:root {
    --BL-100: #EFF8FF;
    --BL-200: #B7E5FF;
    --BL-300: #77D1FF;
    --BL-400: #2FBAFF;
    --BL-500: #03A1F4;
    --BL-800: #015C94;
    --GRY: #C2C2C2;
    --GRY-100: #cecece;
    --GRY-0100: #afafaf;
    --WT: #FFF;
    --RD: #DC2626;
    --RD-100: #e35151;
    --RD-0100: #c62222;
    --YW: #F6ED00;
    --YW-100: #f8f133;
    --YW-0100: #ddd500;
    --YW2: #F1F165;
    --YW2-100: #f4f484;
    --YW2-0100: #d9d95b;
    --GRN: #22C55E;
    --GRN-100: #4ed17e;
    --GRN-0100: #1fb155;
    --FUX: #dc00dc;
    --FUX-100: #e333e3;
    --FUX-0100: #c600c6;
    --ORN: #ed9d02;
    --ORN-100: #f1b135;
    --ORN-0100: #d58d02;
    --AQA: #02e2ad;
    --AQA-100: #35e8bd;
    --AQA-0100: #02cb9c;
    --GRN2: #00dd4b;
    --GRN2-100: #33e46f;
    --GRN2-0100: #00c744;
    --LIM: #8FFF00;
    --LIM-100: #a5ff33;
    --LIM-0100: #81e600;
}